<div>
  <form
    [formGroup] = 'fitness'
    (ngSubmit)="onSubmit()"
    class="border p-5 h-[20rem] flex flex-col gap-5 bg-white"
  >
    <mat-form-field appearance="fill" class="w-fit">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="Smith" formControlName="userName" required />
      <!-- @if (!userName) {
      <mat-error>{{errorMessage()}}</mat-error>
    } -->
    </mat-form-field>

    <div class="flex gap-5">
      <mat-form-field>
        <mat-label>Select me</mat-label>
        <mat-select required  formControlName="workoutType">
          <!-- <div ngFor="opton of options"> -->

            <mat-option value="Cycling">Cycling</mat-option>
            <mat-option value="Running">Running</mat-option>
            <mat-option value="Yoga">Yoga</mat-option>
          <!-- </div> -->
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Workout Minutes</mat-label>
        <input
          formControlName="workoutMinutes"
          required
          matInput
          placeholder="60"
        />
      </mat-form-field>
    </div>

      <button
        class="w-fit !text-blue-900 !rounded-full" 
        type="submit" 
        mat-stroked-button >
       Add workout
      </button>
 
  </form>
</div>
